<a href="https://colab.research.google.com/github/agargi007/PDS/blob/main/SKILL_experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Download 2 datasets
2. Import neccessary libraries( here numpy & pandas )
3. Read the two CSV files
4. Merge the two datasets on two common columns present in the two daatsets
   using the in built merge() function in python
5. Concat the two datasets using the concat funtion in python
6. perform sampling of the two datasets
7. Use functions like dropna(), fillna(), .info() , .describe() ,
  drop_duplicates()

In [ ]:
import pandas as pd#importing the pandas lib
import numpy as np#importing nnumpy lib

url1 = "/content/sample_data/california_housing_test.csv"# url for dataset1
data1 = pd.read_csv(url1) #reading the dataset

url2 = "/content/sample_data/california_housing_train.csv"# url for dataset2
data2 = pd.read_csv(url2)#reading dataset 2

cc_data = pd.concat([data1, data2], ignore_index=True)

merge_data = pd.merge(data1, data2, how="outer", on=["longitude", "latitude"])


print("Concatenated Data - First few rows:")
print(cc_data.head())

print("Merged Data - First few rows:")
print(merge_data.head())
print("\n")
print("\n")
# Sampling from the concatenated data
print("Concatenated Data - Random Sample:")
print(cc_data.sample(5))  # Sample 5 random rows
print("\n")
print("\n")
# Sampling from the merged data
print("Merged Data - Random Sample:")
print(merge_data.sample(5))  # Sample 5 random rows

Concatenated Data - First few rows:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
Merged Data - First few rows:
   longitude  latitude  housing_median_age_x  total_rooms_x  total_bedrooms_x  \
0    -124.35     40.54                   NaN            NaN               NaN
1    -124.30     41.80                   NaN            NaN               NaN
2    -124.30     41.84                   NaN            NaN               NaN
3    -124.27     40.69                   NaN            NaN               NaN
4    -124.26     40.58                   NaN            NaN               NaN

   population_x  households_x  median_income_x  median_house_value_x  \
0           NaN           NaN              NaN                   NaN
1           NaN           NaN              NaN                   NaN
2           NaN           NaN              NaN                   NaN
3           NaN           NaN              NaN                   NaN
4           NaN           NaN              NaN                   NaN

   housing_median_age_y  total_rooms_y  total_bedrooms_y  population_y  \
0                  52.0         1820.0             300.0         806.0
1                  19.0         2672.0             552.0        1298.0
2                  17.0         2677.0             531.0        1244.0
3                  36.0         2349.0             528.0        1194.0
4                  52.0         2217.0             394.0         907.0

   households_y  median_income_y  median_house_value_y
0         270.0           3.0147               94600.0
1         478.0           1.9797               85800.0
2         456.0           3.0313              103600.0
3         465.0           2.5179               79000.0
4         369.0           2.3571              111400.0




Concatenated Data - Random Sample:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16356    -121.93     37.35                36.0       1823.0           410.0
10963    -118.41     34.06                43.0       2665.0           556.0
9016     -118.22     34.13                40.0       2749.0           580.0
10407    -118.35     33.99                47.0       2183.0           380.0
10066    -118.32     34.10                28.0       1759.0           716.0

       population  households  median_income  median_house_value
16356      1589.0       387.0         3.1065            234100.0
10963      1015.0       506.0         4.1411            500001.0
9016       1375.0       511.0         4.8250            205800.0
10407       927.0       371.0         4.9531            180100.0
10066      1463.0       620.0         1.7306            450000.0




Merged Data - Random Sample:
       longitude  latitude  housing_median_age_x  total_rooms_x  \
12955    -118.15     33.91                   NaN            NaN
8056     -119.69     36.74                   NaN            NaN
16974    -117.25     34.53                   NaN            NaN
16114    -117.61     34.09                   NaN            NaN
5109     -121.59     39.79                   NaN            NaN

       total_bedrooms_x  population_x  households_x  median_income_x  \
12955               NaN           NaN           NaN              NaN
8056                NaN           NaN           NaN              NaN
16974               NaN           NaN           NaN              NaN
16114               NaN           NaN           NaN              NaN
5109                NaN           NaN           NaN              NaN

       median_house_value_x  housing_median_age_y  total_rooms_y  \
12955                   NaN                  38.0          901.0
8056                    NaN                  23.0         2097.0
16974                   NaN                  13.0         5841.0
16114                   NaN                  23.0         1945.0
5109                    NaN                  20.0          743.0

       total_bedrooms_y  population_y  households_y  median_income_y  \
12955             205.0         760.0         208.0           2.9643
8056              385.0         911.0         405.0           3.5128
16974             955.0        2455.0         915.0           4.1333
16114             362.0        1483.0         383.0           4.4205
5109              171.0         395.0         168.0           1.6250

       median_house_value_y
12955              147400.0
8056               121600.0
16974              158200.0
16114              135500.0
5109                88300.0